extends baseEmail

block content
    p Dear #{firstName},
    p We have received a request to reset your password. If you did not initiate this request, please ignore this email.
    p To reset your password, please click on the button below:
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=url) Reset your password
    p If the button doesn't work, you can also copy and paste the following URL into your web browser's address bar:
    p #{url}
    p Thank you for using our services.
    p Best regards,
    p Natours
