extends base

block content
    main.main
        .resetPassword-form
            h2.heading-secondary.ma-bt-lg Reset Password
            form.form.form--resetPassword(id='resetPasswordForm')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password-confirm') Password Confirm
                    input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Reset Password